<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concerts in {{ region }}</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Предстоящи събития в {{ region }}</h1>
    <table>
        <tr>
            <th>Име</th>
        </tr>
        {% for concert in concerts %}
        <tr>
            <td>{{ concert.name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

