<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concerts in {{ region }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Начало</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='София') }}">София</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Пловдив') }}">Пловдив</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Варна') }}">Варна</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Бургас') }}">Бургас</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Русе') }}">Русе</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Велико Търново') }}">Велико Търново</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Предстоящи събития в {{ region }}</h1>
    <table>
        <thead>
            <tr>
                <th>Снимка</th>
                <th>Име</th>
                <th>Локация</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for concert in concerts %}
            <tr>
                <td><img src="{{ concert.image }}" alt="{{ concert.name }}"/></td>
                <td>{{ concert.name }}</td>
                <td>{{ concert.place }}</td>
                <td>{{ concert.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
