<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets App - Upcoming Events</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Начало</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='София') }}">София</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Пловдив') }}">Пловдив</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Варна') }}">Варна</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Бургас') }}">Бургас</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Русе') }}">Русе</a></li>
            <li><a href="{{ url_for('scrape_concerts', region='Велико Търново') }}">Велико Търново</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Престоящи събития из цялата страна</h1>
        <div id="map"></div>
    </div>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>
